@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$white-color: white;
$black-color: black;
$gray-strong-color:#0a0909;
$gray-middle-color: #151515;
$gray-soft-color: #303030;
$gray-line-color:#a3a3a4;
$yellow-color: yellow;
$orange-color: #b85d1c;



$titles-font: 'Poppins', sans-serif;
$subtitles-font: 'Montserrat', sans-serif;
$description-font: 'Roboto Mono', monospace;

