@import './assets/variables.scss';

.container {
  text-align: left;
  font-size: 1rem;
  margin: 0.8rem 0;
  background-color: $gray-soft-color;
  padding-bottom: 4rem;
}

.main-title {
  display: flex;
  position: relative;
  padding: 0.5rem;
  border-bottom: 0.3rem $black-color solid;
  justify-content: space-between;
}

.main-heading {
  color: $white-color;
  font-family: $titles-font;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0.6rem;
}

.main-subheading {
  color: $white-color;
  font-family: $subtitles-font;
  text-transform: uppercase;
  font-size: 0.7rem;
  justify-items: center;
  margin: 0.7rem 0;
  position: relative;
}

.artist {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.7rem;
  grid-row-gap: 0.4rem;
  position: relative;
  background-color: $gray-middle-color;
  padding-bottom: 2rem;
}
