@import './assets/variables.scss';

.container-fluid {
  text-align: left;
  font-size: 1rem;
  background-color: $gray-soft-color;
  padding: 0 0 4rem 0;
  border-top: 0.3rem $black-color solid;
}


